[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName                  = Country Name (2 letter code)
countryName_default          = RO
stateOrProvinceName          = State or Province Name (full name)
stateOrProvinceName_default  = Brasov
localityName                 = Locality Name (eg, city)
localityName_default         = Brasov
organizationName             = Organization Name (eg, company)
organizationName_default     = UniTBv
commonName                   = Common Name (eg, fully qualified host name)
commonName_default           = Warehouse Management System
[ req_ext ]
subjectAltName = @alt_names
[ alt_names ]
DNS.1 = localhost
IP.1 = 127.0.0.1
[ CA_default ]
copy_extensions = copy
